@font-face {
  font-family: "noto";
  src: url("../../font/Noto_Nastaliq_Urdu/static/NotoNastaliqUrdu-Regular.ttf")
    format("truetype");
}
/* ISLAMIC FOUR PILLER SECTION START */
.four-piller-outside {
  border: 1px solid #d1ad3c;
  border-radius: 100%;
  width: 90px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}
.four-piller-inside {
  border: 1px solid white;
  border-radius: 100%;
  width: 100%;
  padding: 12%;
}
.pillers-sections:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.pillers-sections:hover .four-piller-inside {
  background-color: var(--primary-color);
}
.four-piller-names {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  font-family: noto;
}
.four-piller-discription {
  width: 95%;
  margin: 9px 0px 0px 0px;
  text-align: center;
  line-height: 1.7rem;
  font-family: noto;
}

/* HERO BANNER CSS */
.hero_banner {
  background-image: url("../../image/banner-img-1.webp");
  font-family: noto;
}
.section_title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 4px;
  border-bottom: 3px solid var(--primary-color);
  text-align: center;
  font-family: noto;
}

/* BOOKS COMPONENTS CSS */
.active-tabs {
  background-color: #d1ad3c;
  color: white;
}

.tab-list {
  background-color: white;
  border: 1px solid rgb(218, 215, 215);
  border-radius: 5px;
  font-family: noto;
}
.islamic-books {
  width: 22%;
  height: 330px;
  background-color: #f7f4f4;
  border-radius: 5px;
  cursor: pointer;
  font-family: noto;
}

.islamic-book-image {
  width: 100%;
  height: min-content;
  transition: transform 0.3s !important;
}

.islamic-book-image:hover {
  transform: scale(1.2) !important;
  transition: 0.3s !important;
}

.islamic-books-main {
  border-radius: 10px;
  height: 80%;
  overflow: hidden;
}
.book_title {
  height: 20% !important;
  text-align: center;
  font-weight: bold;
  padding: 4px 3px 2px 3px;
  overflow: hidden;
  font-size: 15px;
  letter-spacing: 1.3px;
}

@media screen and (max-width: 1000px) {
  .islamic-books {
    width: calc(32.33% - 10px);
    height: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .islamic-books {
    width: calc(46% - 10px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .islamic-books {
    width: calc(97% - 10px);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

/* NEWS COMPONENTS CSS */
.three-news {
  width: 22%;
  height: 320px;
  font-family: noto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
}
.news-category-name {
  text-transform: uppercase;
  border-radius: 3px;
  z-index: 1;
  background-color: var(--primary-color);
  padding: 1px 10px 6px 10px;
  color: white;
  font-weight: 700;
  font-size: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 13px;
}
.news_image_main {
  height: 50%;
  overflow: hidden;
}
.news_title {
  height: 40%;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9rem;
  padding: 2px 5px 2px 3px;
}
@media screen and (max-width: 1000px) {
  .three-news {
    width: 32%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .three-news {
    width: 48%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .three-news {
    width: 97%;
    margin-bottom: 20px;
  }
}
