@font-face {
  font-family: "noto";
  src: url("../../font/Noto_Nastaliq_Urdu/static/NotoNastaliqUrdu-Regular.ttf")
    format("truetype");
}

.view_news_main_section {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.view_news_image {
  overflow: hidden;
  height: 400px;
}
.view_news_title {
  font-family: noto;
  font-weight: bold;
  margin-top: 15px;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 20px;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
.view_news_content {
  font-family: noto;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  padding-bottom: 20px;
  margin-top: 7px;
}
.view_news_date {
  font-family: noto;
  letter-spacing: 0.05rem;
  font-size: 12px;
  font-weight: bold;
  margin: 3px 0px 0px 5px;
  color: rgb(127, 182, 255);
}
