:root {
  --primary-color: #d1ad3c;
  --secondary-color: #2a486c;
}

.header-topbar-main {
  display: flex;
  margin: auto;
  background-color: #f3f4f6;
  justify-content: space-around;
  font-family: noto;
}
.header-topbar-sections {
  display: flex;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 1.3px;
  gap: 30px;
}
.topbar-icons i {
  display: flex;
  align-items: center;
}
.topbar-icon-link {
  display: inline-block;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.topbar-icon-link i {
  display: flex;
  font-size: 16px;
}
.navbar-menu {
  font-family: noto;
  width: 100%;
  justify-content: space-around;
}
.navbar-menu li a:hover {
  color: var(--primary-color);
}
.nav-link {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
  margin-left: 20px;
  color: var(--secondary-color);
  font-size: 14px;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: width 0.3s ease, left 0.3s ease;
}
.nav-link:hover::before,
.active::before {
  width: 100%;
  left: 0;
}
.navbar-menu .active {
  color: var(--primary-color);
}
.navbar-menu::before .active {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: width 0.3s ease, left 0.3s ease;
}
#navbar-button {
  background-color: var(--primary-color);
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5px 35px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  transition: all 0.15s linear;
  font-family: noto;
}
#navbar-button:hover {
  background-color: var(--secondary-color);
}
.search-input {
  border-bottom: 2px solid var(--primary-color);
  height: 37px;
  padding: 0px 5px;
  font-size: 15px;
}
.toggle-btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0px 0px 20px;
}
.toggle-btn button {
  border: 2px solid Var(--primary-color);
  padding: 1px 6px;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .toggle-btn {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .header-topbar-main {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header-topbar-sections {
    display: block;
    font-size: 10px;
    padding: 6px;
  }
}

.search-input::placeholder {
  font-family: noto;
}

/* FOOTER SECTION START */
.main-footer {
  background-color: var(--primary-color);
  position: relative;
  margin-top: 40px;
}
.footer-title {
  margin-bottom: 40px;
  font-size: 30px;
  font-family: noto;
  color: white;
  font-weight: bold;
  text-align: center;
}
.footer-description {
  color: rgb(30, 29, 29);
  font-family: noto;
  margin-bottom: 30px;
  line-height: 2.3rem;
}
.footer-subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: black;
  padding: 0 18px;
  letter-spacing: 0.025em;
  border-radius: 5px;
  color: white;
}
